@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}

@layer base {
    .font-outline-2 {
      -webkit-text-stroke: 1px #484848;
    }
    .dark-font-outline-2 {
        -webkit-text-stroke: 1px #949393;
      }
    .font-outline-4 {
      -webkit-text-stroke: 4px #484848;
    }
  }

.popup { animation: popup 0.3s; }
@keyframes popup {
    0% { transform: scale(0.2); }
    100% { transform: scale(1); }
  }

.slide-in { 
  animation: slide-in 0.3s;
}
.slide-in-inv { 
  animation: slide-in-inv 0.5s;
}
@keyframes slide-in {
  0%{
    transform: translate3d(100% , 0 , 0);
  }
  100%{
    transform: translate3d(0,0,0);
  }
}


@keyframes slide-in-inv {
  0%{
    transform: translate3d(-100% , 0 , 0);
  }
  100%{
    transform: translate3d(0,0,0);
  }
}
  